* {
	/*margin: 0;
	padding: 0;*/
}

body {
	font-family: Tahoma;
	font-size: 12px;
	color: #444;
	background: url(/images/felt2.png) repeat #a6a5a2;
	padding: 0 20px 20px 20px;
}

#wrapper {
	background: #eee;
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto 20px auto;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

#header {
	width: 100%;
	height: 205px;
	background: url(/images/logo9.jpg) top left repeat-x #1f1c17;
}

#logo {
	width: 768px;
	height: 205px;
	background: url(/images/logo8.png) top left no-repeat;
	background-position: 2px 0;
}

#rightHeader {
	width: 100%;
	position: relative;
	height: 205px;
	top: -205px;
	margin-bottom: -205px;
}

#langBlock {
	padding: 20px;
	text-align: right;
}

#profileBlock {
	overflow: hidden;
	font-size: 15px;
	color: #eee;
	padding: 0px 20px;
	text-align: right;
}
#login-block{
	float: right;
	font-size: 11px;
}

#main {
	min-height: 200px;
	padding: 20px 25px;
	text-align: center;
}

#menu {
	padding-top: 20px;
	border-bottom: solid #4f9ec9 1px;
	position: relative;
}

#menuWrapper {
	position: relative;
	right: 50%;
	float: right;
}

#menu ul {
	position: relative;
	right: -50%;
	list-style: none;
}

#menu li {
	float: left;
	padding: 8px 0;
	margin-right: 4px;
}

#menu a {
	padding: 8px 30px;
	color: #eee;
	font-weight: bold;
	text-decoration: none;
	background: #4f9ec9;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#menu a:hover, #menu a:active, #menu a.active {
	background: #227fb3;
	color: #fff;
}

#footer {
	min-height: 40px;
	padding: 10px 25px;
	border-top: solid #4f9ec9 1px;
}

#popup {
	display: none;
	position: absolute;
	width: 250px;
	min-height: 20px;
	background: #c6dce4;
	background: rgba(198, 220, 228, 0.8);
	border: solid #4f9ec9 1px;
	border: solid rgba(79, 158, 201, 0.8) 1px;
	padding: 10px;
}

.tabs {
	margin-top: 30px !important;
	border: solid #4f9ec9 1px;
	border-radius: 12px;
}

.tabs ul {
	margin-left: 15px;
	margin-top: -30px;
	height: 30px;
	list-style: none;
}

.tabs ul li {
	float: left;
	padding: 8px 0;
	margin-right: 4px;
}

.tabs ul li a {
	padding: 8px 30px;
	color: #eee;
	font-weight: bold;
	text-decoration: none;
	background: #4f9ec9;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.tabs ul li a:hover, .tabs ul li a:active, .tabs ul li a.active {
	background: #227fb3;
	color: #fff;
}

.help-icon {
	width: 16px;
	height: 16px;
	background: url(/images/help2.png);
}

.fl { float: left; }
.cl { clear: both; }
.c { text-align: center; }
.l { text-align: left; }

a {
	color: #06c;
}

a:hover {
	color: #f00;
}

a:hover img {
	text-decoration: none;
}

h1, h2 {
	text-align: center;
}

p {
	margin-bottom: 1em;
	margin-top: 1em;
}

img {
	border: 0;
}

table {
	border-collapse: separate;
}

th, td {
	padding: 2px;
}

th {
	background: #9cf;
	color: #000;
}

tr.even td {
	background: #ddd;
}

tr.odd td {
	background: #d5d5d5;
}

table.hl tr:hover td {
	background: #90d2ee;
}

th a {
	color: #000;
}


/* ССЫЛКИ НОМЕРОВ СТРАНИЦ */

.pagination-num-form{
	margin-top: 1em;
	text-align: right;
	font-size: 11px;
}
.pagination-num-form select{
	font-size: 11px;
}
.pagination{
	margin-bottom: 1em;
	text-align: center;
}
.pagination a{
	padding: 0px 3px 0px;
}
.pagination .prev{}
.pagination .next{}
.pagination .page{}
.pagination .active{
	font-size: 110%;
	padding: 0px 3px 0px;
	background-color: #EEEEEE;
}

/* СТИЛИЗОВАННЫЕ КНОПКИ */

input.button, button.button, a.button{
	cursor: pointer;
	display: inline-block;
	padding: 2px 6px;
	border: solid 1px #999;
	background-color: #E5E5E5;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	text-decoration: none;
	color: #000;
	font-size: 13px;
}
input.button:hover, button.button:hover, a.button:hover{
	border-style: outset;
	background-color: #DDD;
}
input.button:active, button.button:active, a.button:active{
	border-style: inset;
	background-color: #EEE;
}
input.button-small, button.button-small, a.button-small{
	cursor: pointer;
	display: inline-block;
	padding: 0px 4px;
	border: outset 1px #999;
	background-color: #E5E5E5;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	font-size: 11px;
	text-decoration: none;
	color: #000;
}
input.button-small:hover, button.button-small:hover, a.button-small:hover{
	background-color: #DDD;
}
input.button-small:active, button.button-small:active, a.button-small:active{
	border-style: inset;
	background-color: #EEE;
}


/* КОНТЕНТ */

table.std-form th{
	border-bottom: solid 2px #EEE;
	border-right: solid 3px #EEE;
	background-color: transparent;
}

table.std-form td{
	border-bottom: solid 1px #EEE;
	text-align: left;
}


/* СТАНДАРТНАЯ СЕТКА */

table.std-grid{
	width: 98%;
	margin: 5px auto;
}/*
table.std-grid th{
	font-size: 12px;
	background-color: #EEE;
	border: solid 1px #DDD;
}
table.std-grid th a{
	color: inherit;
}
table.std-grid tr{
	border: solid 1px #EEE;
}
table.std-grid td{
	font-size: 11px;
	border: solid 1px #EEE;
}
*/
table.std-grid td.left{
	text-align: left;
}
table.std-grid td.center{
	text-align: center;
}
table.std-grid td.right{
	text-align: right;
}
table.std-grid td.option{
	border-style: none;
}
table.std-grid.narrow{
	width: auto;
}


.tr-hover{
	background-color: #FFFFE2;
}

.task-uploaded-files{
	width: 500px;
	background-color: #EEE;
	border: solid 1px #AAA;
	margin: 20px auto;
	padding: 5px 10px;
}
.task-uploaded-files-list{
	margin: auto;
	text-align: left;
}
.task-uploaded-files-list tr{
	border-bottom: solid 1px #CCC;
}

.task-submit-log{
	font-family: monospace;
	white-space: pre;
	padding: 5px;
	background-color: #EAFFE8;
	border: solid 1px #AAA;
	text-align: left;
	overflow: auto;
	font-size: 12px;
	color: black;
}

.task-file-manager {
	width: 500px;
	background-color: #EEE;
	border: solid 1px #AAA;
	margin: 20px auto;
	padding: 5px 10px;
}

.project-list {
	width: 800px;
	margin: auto;
	border: solid 1px #AAA;
	border-collapse: collapse;
}

.project-list td {
	width: 50%;
	border: solid 1px #AAA;
	padding: 5px 10px;
	text-align: center;
	vertical-align: top;
}

.flag {
	width: 16px;
	height: 11px;
	background: url(/images/flags.png) no-repeat
}

.flag.flag-ru {background-position: -16px 0}
.flag.flag-ua {background-position: 0 -11px}
.flag.flag-en {background-position: -16px -11px}

.task-state-0 { background-color: #e9eb80 !important } /*inqueue*/
.task-state-1 { background-color: #fc6 !important } /*submitted*/
.task-state-2 { background-color: #fc6 !important } /*accepting*/
.task-state-4 { background-color: #8ceb9d !important } /*finished*/
.task-state-5 { background-color: #f90 !important } /*inlrms*/
.task-state-6 { background-color: #f14848 !important } /*failed*/
.task-state-7 { background-color: #f90 !important } /*inlrms:r*/
.task-state-8 { background-color: #fc6 !important } /*inlrms:q*/
.task-state-9 { background-color: #888888 !important } /*deleted*/
.task-state-10 { background-color: #cc0 !important } /*prepared*/
.task-state-11 { background-color: #f90 !important } /*inlrms:r*/
.task-state-12 { background-color: #cc0 !important } /*preparing*/
.task-state-13 { background-color: #fc6 !important } /*inlrms:q*/
.task-state-14 { background-color: #e00 !important } /*executed*/

.task-progress{
	height: 5px;
	margin-top: 1px;
}

.task-progress-item {
	height: 5px;
	float: left;
}

.refresh-indicator {
	font-size: 11px;
	text-align: right;
	color: #888;
}

.myproxy-login td{
	text-align: left;
}

.table-tiny {
	width: auto;
	margin: auto;
	text-align: left;
	border: solid 1px #ccc;
}

.table-tiny td {
	background: #ddd;
}

.table-tiny tr.even td {
	background: #ddd;
}

.table-tiny tr.odd td {
	background: #d5d5d5;
}

.table-tiny th a {
	color: #000;
}

.vo-list {
	margin: 10px auto;
}

.vo-item {
	margin: 4px auto;
	padding: 0;
	width: 400px;
	height: 22px;
	text-align: left;
	cursor: pointer;
}

.vo-item select {
	display: none;
	float: right;
}

.vo-item-selected select {
	display: inline-block;
}

.visualize img, .download img{
	height: 20px;
	vertical-align: middle;
	margin: 0 5px;
}
