html,body,ul,li
{
    padding: 0;
    margin: 0;
}
.list-stic
{
    display: inline-block;

    width: 1000px;

    margin: auto;
}
.list-stic li
{
    display: inline-block;

    width: 234px;
    height: 156px;
}
.list-stic:first-child > li
{
    margin: 0;
}

.list-stic li a
{
    display: inline-block;

    width: 100%;
    height: 100%;

    font: 25px "Trebuchet MS", sans-serif;
    color: #fff;

    position: relative;

    border-radius: 10px;
}
.list-stic span
{
    position: absolute;

    display: inline-block;

    text-align: center;
    font-weight: bold;

    top:40%;
    left: 0;
    background: rgba(0,100,200,0.7);

    width: 98%;
    height: 30px;
}
.list-stic li:last-child span
{
    left: 1px;
    width: 98.5%;
}
.with-shadow span
{
    left: 6px;
    width: 97.5%;
}
.href1
{
    background: url(../images/usability/split-start.png) no-repeat;
}
.href2
{
    background: url(../images/usability/split-start.png) -234px 0px no-repeat;
}
.href3
{
    background: url(../images/usability/split-start.png) -468px 0px  no-repeat;
}
.href4
{
    background: url(../images/usability/split-start.png) -702px 0px  no-repeat;
}
.href5
{
    background: url(../images/usability/split-start.png) -936px 0px  no-repeat;
}