/* from http://javascript.ru/unsorted/tree  */

.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}

/* begin of  my menu item selection */

.Content a {
display: block !important;
display: inline; /*For IE*/
height: auto !important;
height: 1%;  /* For IE */
}

/* Added to keep selection of the current menu item */
.Current{
background: whitesmoke;
}

.Content a:hover {
background: whitesmoke;
}
.Content a:active {
background: #ccc;
}

/*  end of my menu item selection */


/* indent for all tree children excepts root */
.Node {
    background-image : url(img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 0;
    height: 1%;
}

.Node .Node {
    margin-left: 18px;
}


.isRoot .Content{
    margin-left:0;
}

/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(img/i_half.gif);
    background-repeat : no-repeat;
}
 
.ExpandOpen .Expand {
    background-image: url(img/expand_minus.gif);
}
 
/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(img/expand_plus.gif);
}
 
/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(img/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}


* html  .Content {
    height: 18px; 
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/expand_loading.gif);
}

.ExpandOpen .Container {
	display: block;
}

.ExpandClosed .Container {
	display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
	cursor: pointer;
}
.ExpandLeaf .Expand {
/*	cursor: auto;  */
}
